@import "compass/reset";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "breakpoint";

$base-font-size: 20px;
$base-line-height: 32px;
$rhythm-unit: "px";

// Specify font size for headings. Goes h1 h2 h3 and so on.
$heading-sizes: 44px 38px 16px;

// Baseline have, we must.
@include establish-baseline();

// Set font sizes for headings.
@for $i from 1 through length($heading-sizes) {
  $size: nth($heading-sizes, $i);
  h#{$i} {
    font-size: $size;
    font-weight: bold;
    line-height: 1.2em;
  }
}

body {
  background-color: lime;
  font-family: "Kalam", cursive;
}

p {
  @include leader();
  @include trailer();
}

h1 {
  line-height: 1em;
}

h1, h2 {
  color: purple;
  @include text-shadow(rgba(yellow, 1) 1px 1px 0, rgba(purple, 0.5) 3px 3px 3px)
}

h2 {
  @include trailer();
  &.headline {
    width: 75%;
  }
}

h3 {
  color: yellow;
  @include text-shadow(rgba(purple, 1) 1px 1px 0, rgba(purple, 0.5) 3px 3px 3px);
  width: 50%;
  text-align: right;
}

strong {
  font-weight: bold;
  display: inline-block;
  padding: 0 0.3em;
  background: yellow;
}

section {
  margin: rhythm();
  clear: both;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#header {
  padding: rhythm() rhythm() 0 rhythm();
}

#site-name {
  max-width: 960px;
}

.button {
  @include adjust-font-size-to(16px);
  @include border-radius(rhythm() / 2);
  @include leader();
  @include trailer();
  background-color: purple;
  border: rhythm(0.2) solid purple;
  color: yellow;
  display: inline-block;
  padding: rhythm(0.3);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 35%;
  &:hover {
    background-color: yellow;
    color: purple;
  }
}

img.img-responsive {
  height: auto;
  width: 100%;
}

.star {
  background-image: url('../images/star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 70%;
  height: 300px;
  position: absolute;
  top: -150px;
  right: -40px;
}

.col {
  position: relative;
  h3.fittext {
    padding: rhythm();
    position: absolute;
    right: 0;
    top: -1em;
    width: 50%;
  }
}
.col-inner {
  padding: 0 rhythm();
}
#comments {
  border-top: 2px dashed purple;
  padding-top: rhythm();
}

@include breakpoint(1024px) {
  .container {
    padding: 0;
  }
  #content {
    display: flex;
  }
  .col {
    width: 33%;
    float: left;
    padding-bottom: rhythm(4);
  }
  #comments {
    margin: 0 auto;
    width: 768px;
  }
  .button {
    position: absolute;
    bottom: 0;
  }
}